* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  background: #fff; }

.header {
  background-image: url("../img/m-h-day.jpg");
  border-radius: 0 0 30% 0;
  max-width: 1920px;
  background-size: 100%;
  background-position-y: center;
  background-position-x: left; }
  .header .header-wrap {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0; }
    .header .header-wrap .landing-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      color: #1A1E2A; }
      .header .header-wrap .landing-logo p {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 15px;
        font-weight: 600;
        font-size: 18px;
        text-align: center; }
        .header .header-wrap .landing-logo p span {
          display: block;
          font-weight: normal;
          font-size: 8px; }
    .header .header-wrap .header_heading {
      width: 30%;
      font-size: 50px;
      font-weight: bold;
      margin: 50px 0;
      color: #1A1E2A;
      position: relative;
      z-index: 1;
      font-family: 'Source Sans Pro', sans-serif; }
      .header .header-wrap .header_heading:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        background-color: #00A1CA;
        width: 210px;
        height: 35px;
        left: 0;
        top: 80px; }
    .header .header-wrap .header_text {
      width: 50%;
      text-align: left;
      white-space: pre-line;
      line-height: 1.5;
      color: #1A1E2A;
      margin-bottom: 35px; }
    .header .header-wrap div:not(.landing-logo) {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-bottom: 50px; }
      .header .header-wrap div:not(.landing-logo) > .header_button {
        background-color: #E3AC00;
        padding: 10px 30px;
        border: none;
        color: #fff;
        cursor: pointer;
        outline: none;
        margin-right: 15px; }
        .header .header-wrap div:not(.landing-logo) > .header_button:active {
          background: -webkit-gradient(linear, left top, left bottom, from(#E3AC00), to(#B28600));
          background: linear-gradient(180deg, #E3AC00, #B28600); }
      .header .header-wrap div:not(.landing-logo) > a {
        -ms-flex-item-align: center;
            align-self: center;
        color: #fff;
        text-align: justify; }

.section {
  text-align: center;
  position: relative; }
  .section .section_text {
    position: relative;
    font-size: 33px;
    font-weight: 600;
    padding: 25px 0;
    letter-spacing: 2px;
    display: block;
    color: #1A1E2A;
    font-family: 'Source Sans Pro', sans-serif; }
    .section .section_text:after {
      content: "";
      display: block;
      position: absolute;
      background-color: #00A1CA;
      z-index: -1;
      width: 165px;
      height: 35px;
      left: 682px;
      top: 25px; }
  .section .section_card_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section .section_card_wrap .section_card {
      border-radius: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 50%;
      background: #1A1E2A;
      padding: 10px;
      margin-top: 15px; }
      .section .section_card_wrap .section_card .section_card_img {
        border-radius: 5px; }
      .section .section_card_wrap .section_card .section_card_right_container {
        padding: 20px 30px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 20px;
          font-weight: bold;
          color: #fff;
          margin-bottom: 20px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          color: #C0C4CF;
          font-family: 'Hind', sans-serif;
          font-size: 12px;
          padding: 0 30px;
          text-align: justify; }
        .section .section_card_wrap .section_card .section_card_right_container a {
          -ms-flex-item-align: center;
              align-self: center;
          color: #fff;
          text-align: justify;
          color: #C0C4CF;
          font-family: 'Hind', sans-serif;
          font-size: 12px;
          padding: 0 30px; }
  .section .section_banner {
    position: absolute;
    bottom: -145px;
    left: 300px;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 50px auto 0 auto;
    background: linear-gradient(45deg, #4A9A00, #0059E1);
    width: 55%;
    min-width: 35%;
    overflow: hidden;
    text-align: right;
    color: #1A1E2A;
    z-index: 1; }
    .section .section_banner:after {
      content: "";
      display: block;
      position: absolute;
      background-color: #00A1CA;
      z-index: -1;
      width: 43px;
      height: 30px;
      left: 141px;
      top: 15px; }
    .section .section_banner .section_banner_text_wrap {
      display: inline-block;
      float: left;
      text-align: left;
      margin-left: 30px;
      font-family: 'Source Sans Pro', sans-serif; }
      .section .section_banner .section_banner_text_wrap::after {
        content: '';
        clear: both;
        visibility: hidden;
        display: block;
        height: 0; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        color: #C0C4CF;
        font-family: 'Hind', sans-serif;
        font-size: 12px;
        padding: 0 30px;
        padding-left: 0; }
    .section .section_banner .section_banner_button {
      background-color: #E3AC00;
      padding: 10px 30px;
      border: none;
      color: #fff;
      cursor: pointer;
      outline: none;
      margin-right: 15px;
      margin: 10px 30px 0 0; }
      .section .section_banner .section_banner_button:active {
        background: -webkit-gradient(linear, left top, left bottom, from(#E3AC00), to(#B28600));
        background: linear-gradient(180deg, #E3AC00, #B28600); }

.footer {
  max-width: 1920px;
  padding: 50px 0;
  background: #1A1E2A;
  color: #fff;
  margin-top: 100px; }
  .footer .footer-wrap {
    padding-top: 30px;
    width: 75%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .footer-wrap .landing-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      color: #9D9D9D; }
      .footer .footer-wrap .landing-logo p {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 15px;
        font-weight: 600;
        font-size: 18px;
        text-align: center; }
        .footer .footer-wrap .landing-logo p span {
          display: block;
          font-weight: normal;
          font-size: 8px; }
    .footer .footer-wrap .footer_text, .footer .footer-wrap .footer-cr {
      color: #C0C4CF;
      font-family: 'Hind', sans-serif;
      font-size: 12px;
      padding: 0 30px;
      font-size: 11px;
      width: 27%; }

/*# sourceMappingURL=style1.css.map */