$specialColor: #FF4E33;
$sectionColor: #C0C4CF;
$backColor: #1A1E2A;
$majorColor: #21232E; 
$headerImage: url('../img/m-h-night.jpg');
$gradientMin: #E2AB00;
$gradientMax: #922B54;
$title: #fff;
$fontFamily: 'Fresca', sans-serif;
$footerColor: #3B3F50;