$specialColor: #00A1CA;
$sectionColor: #C0C4CF;
$backColor: #1A1E2A;
$majorColor: #fff;
$headerImage: url('../img/m-h-day.jpg');
$gradientMin: #4A9A00;
$gradientMax: #0059E1;
$title: #1A1E2A;
$fontFamily: 'Source Sans Pro', sans-serif;
$footerColor: #1A1E2A;